<!DOCTYPE html>
<html>
<head>
	<title>Welcome to alpha-blog.</title>
</head>
<body>
	<h1> This is the header </h1>

	<p>This is the page content</p>

	<%= link_to "Home Page", root_path %>
</body>
</html>